<!DOCTYPE html>
<html>
<head>
    <title><%= Title %></title>
    <%- include head-javascript.ejs %>
    <script type="text/javascript" src="/javascripts/page/index.js"></script>
    <script type="text/javascript">
        var _PageData = <%- PageData %>;
    </script>
</head>
<body>

<div id="appTest">
    <p>
        <button v-on:click="onLogout">登出</button>
    </p>

    <h2>{{tip}}</h2>
    <ul>
        <li v-for="(value, key) in msg">
            {{value}}
        </li>
    </ul>
    <div>{{data}}</div>
</div>

</body>
</html>